# Gitea URL
GITEA_INSTANCE_URL=https://git.djnizz.at

# Hier das Token einfügen aus Gitea:
# Website-Verwaltung -> Aktionen -> Runner -> "Neuen Runner erstellen"
GITEA_RUNNER_REGISTRATION_TOKEN=hier_dein_token_einfuegen

# Beliebiger Name für den Runner
GITEA_RUNNER_NAME=oracle-arm-runner
